body {
  background-color: #f2f1eb;
  color: #2c2b2b;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 225px 1fr;
  grid-template-areas: "sidebar navbar" "sidebar main";
}

/* Navbar */

nav {
  grid-area: navbar;
  background-color: #fff;
  margin: 8px 12px;
}

/* Navbar */

/* Sidebar */

aside {
  grid-area: sidebar;
  background-color: #fff;
  height: 100vh;
}

/* Sidebar */

/* Content */

main {
  grid-area: main;
  margin: 10px 20px;
}

.content-wrapper {
}

/* Content */
